@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户手册</title>
    <link href="/layui/css/layui.css?v=2.4.5" rel="stylesheet" />
    <link href="/scripts/global.css" rel="stylesheet" />
    <link href="/scripts/ztree/css/ztreestyle.css?v=3.5.19" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-side layui-bg-gray"><ul id="hltree" class="ztree"></ul></div>
    <div class="hl-header"><span class="layui-breadcrumb hl-nav"></span></div>
    <div class="layui-body" style="top:52px;"><div class="hl-parse"></div></div>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="/layui/layui.js?v=2.4.5"></script>
    <script type="text/javascript" src="/scripts/ztree/js/jquery.ztree.core.min.js?v=3.5.38"></script>
    <script type="text/javascript" src="/scripts/ueditor/ueditor.parse.min.js"></script>
    <script type="text/javascript" src="/scripts/home.js"></script>
</body>
</html>